page-elements-form {

}
.success > .toast-wrapper.toast-bottom {
    background: #4BFF7E;
    color: #424242;
}
.danger > .toast-wrapper.toast-bottom {
    background: #FF4B4B;
    color: #424242;
}

.success .toast-message, .danger .toast-message {
    font-weight: bold;
}
